.digit-input-group input {
  background: var(--digitinput-background-color);
  color: white;
  font-size: 40px;
  width: 40px;
  margin-left: 5px;
  border-color: var(--digitinput-border-color);
  border-style: solid;
  padding-top: 7px;
  padding-left: 5px;
}

#first-input{
    margin-left: 2px;
}

.red > *{
    color: red !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .digit-input-group input {
    padding: 7px 0 0 5px;
  }
}