.modal-parfum .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 100;
}
.modal-parfum .close-btn img {
  width: 20px;
  height: 20px;
}

.modal-parfum {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.modal-parfum img {
  height: 100%;
  min-height: 0;
  min-width: 0;
}

.modal-parfum img.img-mobile {
  display: none;
  text-align: center;
  --width: 250px;
  width: var(--width);
  height: calc(var(--width) * 980 / 692);
  min-height: calc(var(--width) * 980 / 692);
  min-width: var(--width);
  align-self: center;
  margin-bottom: 25px;
}

.modal-parfum .content {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.modal-parfum .content h2 {
  font-size: 68px;
  font-weight: 700;
}
.modal-parfum .content h2 div {
  font-size: 18px;
}

.simplebar-track {
  background-color: white;
  overflow: initial;
}

.simplebar-track.simplebar-vertical {
  width: 1px;
}
.simplebar-track.simplebar-horizontal {
  height: 1px;
}

.simplebar-scrollbar {
  left: -9px;
}
.simplebar-scrollbar::before {
  display: inline-block;
  width: 15px;
  height: 100%;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: transparent;
  border: 1px solid white;
  background-color: black;
  opacity: 1;
  pointer-events: none;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-content{
    /* padding-right: 100px !important; */
}

.simplebar-vertical{
    /* margin-left: 20px !important; */
    transform: translate(25px,0) !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .modal-parfum {
    padding: 0 !important;
    max-width: calc(100vw - 40px);
  }
  .modal-parfum .img-desktop {
    display: none;
  }
  .modal-parfum img.img-mobile {
    display: block;
  }

  .modal-parfum .content {
    width: calc(100% - 50px);
    justify-content: flex-start;
    align-content: center;
    margin: 20px 25px;
    top: 30px;
    bottom: 30px;
    left: 20px;
    right: 20px;
  }

  .modal-parfum .content h2 {
    font-size: 32px;
  }

  .modal-parfum .parfum-description{
    line-height: 16px;
    text-align: justify;
  }
}
